

.newborn-imgs-container {
  margin: 20px;
  gap: 20px;
  display: grid;
  padding-bottom: 20px;
  grid-template-areas:
    "newborn1 newborn1 newborn2 newborn2"
    "newborn1 newborn1 newborn3 newborn5"
    "newborn1 newborn1 newborn4 newborn5"
    "newborn6 newborn6 newborn7 newborn7";
}

.newborn-img-photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  border: 1px solid #535353;
}

.newborn8-img {
  display: none;
}


@media (max-width: 991.98px) {

  .newborn-img-photo {
    height: fill;
    width: fill;
  }

  .newborn-imgs-container {
    margin: 15px;
    gap: 10px;
    display: grid;
    // padding-bottom: 15px;
    grid-template-areas:
      "newborn1 newborn1 newborn2 newborn2"
      "newborn1 newborn1 newborn3 newborn3"
      "newborn8 newborn8 newborn4 newborn4"
      "newborn6 newborn6 newborn5 newborn5"
      "newborn7 newborn7 newborn5 newborn5";
  }

  .newborn8-img {
    display: block;
  }
}
