

.about-title {
  font-family: 'Amatic SC', cursive;
  font-size: 78px;
  text-align: center;
  margin: 120px auto 30px auto;
  color: #515151;
}

.about-background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 80px 0;
}

.about-text-img-row {
  width: 80vw;
}

// TEXT
.about-text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
}

.about-main-text {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

.about-text-name {
  color: #EAC9C1;

  text-decoration: underline wavy #eac9c1da 2px;
  // text-shadow: 5px 5px #e5e6e4;
  font-size: 75px;
}

.about-text {
  // font-family: 'Amatic SC', cursive;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: 1.2px;
  color: #978fa7;
}


// IMAGE
.about-img-container {
  display: flex;
  justify-content: end;
}

.about-image {
  box-shadow: 15px 15px #EAC9C1;
}




@media (max-width: 991.98px) {

  .about-background-container {
    padding: 0 0 10px 0;
  }

  .about-text-container {
    padding: 0;
  }

  .about-main-text {
    font-size: 50px;
  }

  .about-text {
    font-size: 22px;
  }
}



//XL-SCREEN
@media (mIN-width: 1950px) {
  .about-text-img-row {
    width: 60vw;
  }
}
