

.certificates-main-container {
  background-color: #37323E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0;
  height: 300px;
}

.certificates-icons {
  height: 130px;
  margin: 0 auto;
}

.certificates-small-icon {
  height: 170px;
  box-shadow: 4px solid white;
}


//M-SIZE SCREEN
@media (max-width: 991.98px) {

  .certificates-icons {
    height: 80px;
  }

  .certificates-small-icon {
    height: 120px;
  }
}


//S-SIZE SCREEN
@media (max-width: 600px) {

  .certificates-main-container {
    display: grid;
    align-items: center ;
    height: auto;
    padding: 30px 0;
    gap: 30px;
  }

  .certificates-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .certificates-icons {
    height: 80px;
  }

  .certificate-small-icon {
    height: 120px;
  }
}


//XS-SIZE SCREEN
@media (max-width: 350px) {

  .certificates-icons {
    height: 40px;
  }

  .certificate-small-icon {
    height: 70px;
  }
}
