

.footer-contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}




// .social-medias-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
