
.site-navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  // padding: .45rem;
  border-bottom: 1px solid #e5e6e4;
}

.brand-logo-container {
  border: none;
  text-align: center;
}

.nav-link {
  display: inline-block;
  position: relative;

  font-family: 'Oswald', sans-serif;
  letter-spacing: 2.2px;
  font-size: 20px;
  font-weight: 300;
  color: #515151;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 0;
  color: #515151;
  background-color: #eeaeae;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  color: #515151;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: #515151;
}

.navlink-left {
  display: flex;
  justify-content: end;
}

.navlink-right {
  justify-content: start;
}


// .dropdown-item {
//   font-family: 'Oswald', sans-serif;
//   letter-spacing: 2.2px;
//   font-size: 16px;
//   color: #575757;
// }



// S-SIZE SCREEN

@media (max-width: 991.98px) {

  .site-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    border-bottom: none;
  }

  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .brand-logo img {
    width: 100px;
    margin: 5px auto;
  }

  .align-test {
    justify-items: flex-start;
  }

  .site-navbar .site-logo {
    display: block !important;
    float: left;
    position: relative;
  }

  .brand-logo-container {
    border-bottom: 1px solid #888098;
    text-align: start;
  }

  .dropdownButton {
    display: block;
    position: absolute;
    top: -60px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #908a9c;
    text-shadow: 1px 1px #ffcdcd;
    // font-size: 26px;
    transition: 0.4s;
  }

  .dropdownBtn-icon {
    font-size: 26px;
  }

  .plus-btn-rotate {
    transition: 0.4s;
    transform: rotate(135deg);
  }

  .dropdown {
    display: flex;
    justify-content: end;
    background-color: transparent;
  }

  .dropdownMenu {
    display: none;
    // visibility: hidden;
    // filter: blur(20px);
    // opacity: 0;
    transition: 0.4s;
    // transform: translateX(600px);
  }

  .dropdownMenuActive {
    display: flex;
    visibility: visible;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 65vw;
    line-height: 100px;
    letter-spacing: 5px;
    font-weight: 200;
    padding: 50px 20px 50px 20px;
    border: 1px solid #888098;
    border-top: none;
    border-radius: 5px;

    // filter: blur();
    // opacity: 1;
    // transition: 0.8s;
    // transform: translate3d(0, 0, 0);
  }

  /////
  .dropdown-item {
    display: flex;
    position: relative;
    justify-content: end;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.2px;
    font-size: 22px;
    font-weight: 300;
    color: #908a9c;
    text-shadow: 1px 1px #eeaeae;
  }

  .dropdown-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 30px;
    right: 0;
    color: #515151;
    background-color: #eeaeae;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .dropdown-item:hover:after {
    color: #515151;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dropdown-item:hover {
    color: #515151;
  }

}

// big screen

@media (min-width: 991.98px) {

  .brand-logo img {
    width: 160px;
  }

  .d-none {
    display: flex !important;
    // justify-content: center !important;
  }

  .dropdownButton {
    display: none;
  }

  .dropdownMenu {
    display: none;
  }
  .site-navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .45rem;
  }

  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
  }

  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .site-navbar .site-navigation .site-menu > li {
    display: inline-block;
  }
  .site-navbar .site-navigation .site-menu > li > a {
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px 0px;
  }
}
