
.site-navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  // padding: .45rem;
}

.nav-link {
  display: inline-block;
  position: relative;

  font-family: 'Oswald', sans-serif;
  letter-spacing: 2.2px;
  font-size: 20px;
  font-weight: 300;
  color: #515151;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15px;
  left: 0;
  color: #515151;
  background-color: #eeaeae;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  color: #515151;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: #515151;
}


// .dropdown-item {
//   font-family: 'Oswald', sans-serif;
//   letter-spacing: 2.2px;
//   font-size: 16px;
//   color: #575757;
// }



// small screen

@media (max-width: 991.98px) {

  .site-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .brand-logo img {
    width: 100px;
    margin: 5px auto;
  }

  .align-test {
    justify-items: flex-start;
  }

  .site-navbar .site-logo {
    display: block !important;
    float: left;
    position: relative;
  }

  .dropdownButton {
    display: block;
    position: absolute;
    top: -45px;
    right: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #575757;
    font-size: 22px;
    transition: 0.4s;
  }

  .plus-btn-rotate {
    transition: 0.4s;
    transform: rotate(135deg);
  }

  .dropdown {
    display: flex;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0);
  }

  .dropdownMenu {
    display: none;
    justify-items: end;
    background-color: rgba(255, 255, 255, 0);
  }

  .dropdownMenuActive {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    // justify-content: end;
    // text-align: center;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 200;
    // padding: 0 10px 5px 0;
  }

  /////
  .dropdown-item {
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.2px;
    font-size: 16px;
    font-weight: 300;
    color: #515151;
  }

  .dropdown-item:after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    // display: flex;
    // justify-content: end;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 25px;
    color: #515151;
    background-color: #eeaeae;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .dropdown-item:hover:after {
    color: #515151;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dropdown-item:hover {
    color: #515151;
  }
  /////

}

// big screen

@media (min-width: 991.98px) {

  .brand-logo img {
    width: 160px;
  }

  .d-none {
    display: flex !important;
    justify-content: center !important;
  }

  .dropdownButton {
    display: none;
  }

  .dropdownMenu {
    display: none;
  }
  .site-navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .45rem;
  }

  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
  }

  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .site-navbar .site-navigation .site-menu > li {
    display: inline-block;
  }
  .site-navbar .site-navigation .site-menu > li > a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0px;
  }
}
