

#scrollspyportfolio {
  // height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-title {
  font-family: 'Amatic SC', cursive;
  font-size: 78px;
  text-align: center;
  margin: 0 auto 50px auto;
  color: #515151;
}

.portfolio-cat-title {
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
  font-weight: 700;
  text-align: center;

}

.cat-title-link {
  text-decoration: none;
  color: #515151;

  &:hover {
    color: #515151;
  }
}



.index-cat-row {
  margin: 50px auto;
  padding: 0;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
}

.card-category {
  width: calc(80vw / 3);
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 50vh;
}

.index-cat-cards {
  padding: 5px;
  background-color: white;
  border: 1px solid #e5e6e4;
  transition: 0.6s;

    &:hover {
      box-shadow: 5px 10px 15px #888888;
      transition: 0.6s;
    }
}



@media (max-width: 991.98px) {

  #scrollspyportfolio {
    height: auto;
  }

  .portfolio-title {
    margin: 30px auto 30px auto;
  }

  .index-cat-row {
    margin: 20px auto 40px auto;
    display: grid;
    align-items: center;
    gap: 10px;
  }

  .card-category {
    background-size: cover;
    width: auto;
    display: grid;
    align-items: center;
    height: calc(55vh / 3);
    margin: 0;
    gap: 15px;
  }

  .index-cat-cards {
    width: 90vw;
  }

  .cat-title-link {
    font-size: 22px;
  }

  .portfolio-cat-title {
    font-size: 20px;
  }
}
