
<hr class="featurette-divider" style="width: 75%; margin: 20px auto 20px auto;">


<section id="scrollspyabout">
<h1 class="about-title">About</h1>
  <%# <span>
    <h1>About</h1>
    <p>I'm a photographer specializing in babies for over 10 years. I love doing this, each session is unique, and each one I do with a lot of love and care in every detail, if that's what you're looking for, you're in the right place, and it will be a great pleasure to record moments of your life.</p>
  </span> %>
  <div class="about-background-container">
    <div class="row about-text-img-row">
      <div class="col-md-6 about-text-container">
        <div class="about-text-body">
          <h2 class="about-main-text">
            Welcome, my name <br>is <span class="about-text-name">Laysi</span>
          </h2>
          <p class="about-text">
            I'm a photographer specializing in babies for over 10 years. I love doing this, each session is unique, and each one I do with a lot of love and care in every detail, if that's what you're looking for, you're in the right place, and it will be a great pleasure to record moments of your life.
          </p>
        </div>
      </div>

      <div class="col-md-6 about-img-container">
        <%# <img class="img-fluid about-image" alt="myphoto"  src="https://images.unsplash.com/photo-1563126153-74b8e04c1070?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"> %>
        <%= image_tag "myphoto.jpg", class: "about-image d-flex rounded justify-self-end img-fluid", alt: "myphoto" %>
      </div>
    </div>

  </div>
</section>
