

<section id="scrollspyabout">
  <%# <span>
    <h1>About</h1>
    <p>I'm a photographer specializing in babies for over 10 years. I love doing this, each session is unique, and each one I do with a lot of love and care in every detail, if that's what you're looking for, you're in the right place, and it will be a great pleasure to record moments of your life.</p>
  </span> %>
  <div class="about-background-container" style="height: 80vh;">
    <div class="row" style="width: 80vw;">
      <div class="col-md-6 about-text-container">
        <div class="about-text-body">
          <h2 class="about-main-text">
            Welcome, my name is Laysi
          </h2>
          <p class="about-text">
            I'm a photographer specializing in babies for over 10 years. I love doing this, each session is unique, and each one I do with a lot of love and care in every detail, if that's what you're looking for, you're in the right place, and it will be a great pleasure to record moments of your life.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <img class="featurette-image img-fluid mx-auto" alt="myphoto"  src="https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80">
      </div>
    </div>

  </div>
</section>
