<div class="certificates-main-container">

  <a class="certificates-links" href="https://apnpi.com/" target="_blank">
    <%= image_tag "certificate01.png", alt: "apnp icon", class: "certificates-icons" %>
  </a>

  <a class="certificates-links" href="https://swpp.co.uk/" target="_blank">
    <%= image_tag "certificate02white.png", alt: "apnp icon", class: "certificates-icons" %>
  </a>

  <a class="certificates-links" href="https://www.babiesandphotographers.com/" target="_blank">
    <%= image_tag "certificate03.png", alt: "apnp icon", class: "certificates-icons" %>
  </a>


</div>
