<section id="scrollspycontact">

  <hr class="hr hr-blurry" style="width: 75%; margin: 20px auto 20px auto;">

  <h1 class="footer-contact-title">contact</h1>

  <%= render "contacts/new" %>

</section>
