<footer id="scrollspycontact" class="footer">


  <%= render "contacts/new" %>


  <div class="col-12 social-medias-container">
    <h6 class="medias-title text-center">follow me</h6>

    <div class="media-icons-container text-center pb-4">
      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>

      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-google"></i>
      </a>

      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>

</footer>
