<footer class="footer">

  <div class="col-12 social-medias-container">

    <h6 class="medias-title text-center">follow me</h6>

    <div class="media-icons-container text-center">
      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-facebook media-icon"></i>
      </a>

      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-google media-icon"></i>
      </a>

      <a class="btn" href="#!" target="_blank">
        <i class="bi bi-instagram media-icon"></i>
      </a>
    </div>

  </div>

  <hr class="hr hr-blurry" style="width: 60vw; margin: auto;"/>

  <div class="footer-copyright">
    <span>© Lah Martins Photography - 2023. All rights reserved.</span>
  </div>

</footer>
