<footer id="scrollspycontact" class="footer">

  <div class="footer-contact-container">
    <span>
      <%= render "contacts/new" %>
    </span>
  </div>


  <div class="col-12">
    <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

    <!-- Facebook -->
    <a class="btn" href="#!" target="_blank">
      <i class="bi bi-facebook"></i>
    </a>

    <!-- Twitter -->
    <a class="btn" href="#!" target="_blank">
      <i class="bi bi-twitter"></i>
    </a>

    <!-- Google -->
    <a class="btn" href="#!" target="_blank">
      <i class="bi bi-google"></i>
    </a>

    <!-- Instagram -->
    <a class="btn" href="#!" target="_blank">
      <i class="bi bi-instagram"></i>
    </a>

  </div>

</footer>
