

<header class="site-navbar site-navbar-target" role="banner">
  <div class="container-fluid">
    <div class="row align-items-center position-relative">
      <div class="col-lg-5">
        <nav class="site-navigation text-right ml-auto " role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block navlink-left">
            <li class="active"><a href="#scrollspyhome" class="nav-link">HOME</a></li>
            <li><a href="#scrollspyportfolio" class="nav-link">PORTFOLIO</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-lg-2 bg-white brand-logo-container">
        <%= link_to root_path, class: "brand-logo" do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>

      <%# <div class="ml-auto toggle-button d-inline-block d-lg-none">
        <a href="/" class="site-menu-toggle py-5 js-menu-toggle text-black">
          <span class="icon-menu h3 text-black"></span>
        </a>
      </div> %>

      <div class="col-lg-5">
        <nav class="site-navigation text-left mr-auto " role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block navlink-right">
            <li><a href="#scrollspyabout" class="nav-link">ABOUT</a></li>
            <li><a href="#scrollspycontact" class="nav-link">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button class ="dropdownButton">
      <i class="bi-plus-circle"></i>
    </button>

    <div class="dropdownMenu">
      <a class="dropdown-item" href="#scrollspyhome">HOME</a>
      <a class="dropdown-item" href="#scrollspyportfolio">PORTFOLIO</a>
      <a class="dropdown-item" href="#scrollspyabout">ABOUT</a>
      <a class="dropdown-item" href="#scrollspycontact">CONTACT</a>
    </div>
  </div>

</header>
