html {
  height: 100%;
  margin: 0;
  margin-top: 145px;
}

body {
  margin-top: 145px;
  height: 100%;
  margin: 0;
}


/////////////

section {
  overflow: hidden;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 1px;
  text-align: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(2) {
  background: white;
  height: 60%;
}

section:nth-of-type(1) {
  background-image: url('https://images.unsplash.com/photo-1591161555818-7b9debeccc07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  height: calc(100% - 130px);
  color: white;
  opacity: 0.85;
}

section:nth-of-type(3) {
  background-image: url('https://images.unsplash.com/photo-1542644384-49f9febd8443?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80');
  height: 100%;
  color: white;
  opacity: 0.85;
}

section:nth-of-type(4) {
  background: white;
  height: 70%;
}

section:nth-of-type(5) {
  background-image: url('https://images.unsplash.com/photo-1637572465898-8f526a6da712?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  // background: white;
  opacity: 0.95;
  color: white;
  height: 60%;
  background-position: center;
}

section:nth-of-type(6) {
  background: white;
  height: 25%;
}


/////
.index-cat-row {
  margin: 0;
  padding: 0;
}
