// logo color palette
// dark-rose: #e7a2a9
// light-rose: #fcdad3

///////////////

// some colors samples
// #37323E
// #757780

// #EBD8D0
// #EAC9C1
// #001011
// #84DCC6

// #D3AB9E



html {
  height: 100%;
  margin: 0;
  background-color: #fff5f4;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: #fff5f4;
}

.flash-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 30px;
  border: 1px solid #535353;
  background-color: rgba(255, 250, 250, 0.95);
  margin: 0;
}


#scrollspyhome {
  background-image: url("main-banner.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.85;
}


@media (max-width: 991.98px) {

  .flash-message {
    display: flex;
    // flex-wrap: wrap;
    margin-left: 20px;
    font-size: 16px;
    padding: 15px;
  }
}
